body {
    background-color: #8ea492;
    font-family: Arial, sans-serif;
}
form {
    background-color: #f5f0e1;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input[type="text"],input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f8f4e7;
}
input[type="submit"] {
    width: 100%;
    background-color: #488273;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #1e352e;;
}
p {
    color: #555;
    text-align: center;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input::placeholder {
    color: #b6b6b6;
}
#loader {
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
    position: absolute; /* Posiciona o loader de forma absoluta */
    top: 78%; /* Posiciona o loader no centro verticalmente */
    left: 50%; /* Posiciona o loader no centro horizontalmente */
    transform: translate(-50%, -50%);
    margin-top: 10px;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #ffd700, -20px 0 #0002;background: #ffd700 }
    33% {box-shadow: 20px 0 #ffd700, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #ffd700; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #ffd700; background: #ffd700}
}
